.dictionary {
  background: #EDEFF1;
  padding-top: 20px;
  border-radius: 5px;
}

.dictionary .table{
  background: #fff;
  border-radius: 5px;
}

.dictionary .item-actions {
  display: flex;
  justify-content: space-around;
}

.dictionary tr:first-child .item-actions {
  margin-top: -1px;
}

.dictionary .item-actions .fa {
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  border: 1px solid #fefefe;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 1px 0px #777;
  background: #efefef;
    transition: .15s;
}

.dictionary .item-actions .fa:hover {
  box-shadow: 0px 0px 2px 0px #777;
  background: #fefefe;
}
