.pagination>li>a,
.pagination>li>span {
	border: 0 !important;
}

.pagination>li.disabled>span {
	opacity: .6;
}

.my-dropdown .dropdown-menu {
	transform: translateX(-50%);
	left: 50%;
	top: auto;
	bottom: 100%;
	min-width: 80px;
	text-align: center;
}

.pagination-header {
	display: flex;
	justify-content: center;
}

.pagination-header > div {
	margin: 0 10px;
}